body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;

}

#calculator {
    margin-top: 50px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    height: 610px;
    background-color: rgb(255, 240, 245);
    border-radius: 20px;
    align-items: center;
    border-style: solid;
}

#display {
    width: 350px;
    height: 120px;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    border-style: solid;
}

.display-box {
    height: 30px;
    text-align: right;
    padding: 15px 15px 0 15px;
}

#top-display {
    font-size: large;
}

#bottom-display {
    font-size: xx-large;
}

#button-container {
    display: flex;
    height: 300px;
    margin: 20px;
}


.number-button {
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    height: 70px;
    width: 70px;
    margin: 5px;
    border-radius: 10px;
    background-color: aliceblue;
}

.number-button:hover {
    background-color:rgb(210, 234, 255);
}

.operator-button {
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    border-radius: 50%;
    padding: 0 8px;
    height: 70px;
    width: 70px;
    margin: 5px 5px 5px 15px;
    background-color: rgb(252, 223, 228);
}

.operator-button:hover {
    background-color: rgb(255, 201, 210);
}

#zero {
    width: 160px;
}

#equal-and-clear-button-container {
    width: 360px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.bottom-buttons {
    font-size: x-large;
    width: 160px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(230, 255, 255);
    margin: 5px;
}

#equals-button:hover {
    background-color: rgb(210, 255, 255);
}

#clear-button {
    width: 170px;
    background-color: white;
}

#clear-button:hover {
    background-color: rgb(231, 231, 231);
}

footer {
   position: absolute;
   bottom: 10px;
}

.fa_custom {
    color: black;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}